
{{&gt; organisms-header-report-light }}

&lt;!-- Begin main content section --&gt;
&lt;section class=&quot;section-main&quot;&gt;
	&lt;div class=&quot;grid -grid-nopadding&quot;&gt;
		&lt;div class=&quot;col-1&quot;&gt;
			&lt;h1 class=&quot;section-title&quot;&gt;Woper&lt;/h1&gt;
		&lt;/div&gt;
		&lt;!--&lt;div class=&quot;col-1-2&quot;&gt;
			&lt;div class=&quot;section-actions&quot;&gt;
				&lt;button href=&quot;#&quot; class=&quot;button -button-small -icon-left&quot;&gt;&lt;i class=&quot;icon-printer&quot;&gt;&lt;/i&gt;Print&lt;/button&gt;
				&lt;button href=&quot;#&quot; class=&quot;button -button-small -icon-left&quot;&gt;&lt;i class=&quot;icon-download&quot;&gt;&lt;/i&gt;Download&lt;/button&gt;
			&lt;/div&gt;
		&lt;/div&gt;--&gt;
	&lt;/div&gt;
	&lt;div class=&quot;grid -grid-nopadding&quot;&gt;
		&lt;div class=&quot;col-1&quot;&gt;		
			&lt;h2 class=&quot;section-title&quot;&gt;Key Metrics&lt;/h2&gt;
			{{&gt; atoms-data-table-woper }}
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;grid -grid-nopadding&quot;&gt;
		&lt;hr class=&quot;hr -small&quot;/&gt;
		&lt;div class=&quot;col-1&quot;&gt;
			&lt;h2 class=&quot;section-title&quot;&gt;KPI Tree&lt;/h2&gt;
			{{&gt; atoms-landscape-16x9 }}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;
&lt;!-- End main content section --&gt;

{{&gt; organisms-footer }}

&lt;script type=&quot;text/javascript&quot;&gt;
	$(&quot;body&quot;).addClass(&quot;page-report&quot;).addClass(&quot; -width-1024&quot;);
&lt;/script&gt;